<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>download/arena_rewardbar_bg_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,457},{245,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,13}}</string>
                <key>sourceSize</key>
                <string>{245,13}</string>
            </dict>
            <key>download/bar_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>download/bar_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,354},{160,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,44}}</string>
                <key>sourceSize</key>
                <string>{160,44}</string>
            </dict>
            <key>download/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,90},{256,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,74}}</string>
                <key>sourceSize</key>
                <string>{256,74}</string>
            </dict>
            <key>download/broadcast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{560,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,9}}</string>
                <key>sourceSize</key>
                <string>{560,9}</string>
            </dict>
            <key>download/buttonbg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,282},{156,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,92}}</string>
                <key>sourceSize</key>
                <string>{156,92}</string>
            </dict>
            <key>download/buttonbg_13_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,124},{156,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,92}}</string>
                <key>sourceSize</key>
                <string>{156,92}</string>
            </dict>
            <key>download/buttonbg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,124},{114,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,70}}</string>
                <key>sourceSize</key>
                <string>{114,70}</string>
            </dict>
            <key>download/buttonbg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,166},{192,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,92}}</string>
                <key>sourceSize</key>
                <string>{192,92}</string>
            </dict>
            <key>download/buttonbg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,260},{192,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,92}}</string>
                <key>sourceSize</key>
                <string>{192,92}</string>
            </dict>
            <key>download/buttonbg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,166},{192,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,92}}</string>
                <key>sourceSize</key>
                <string>{192,92}</string>
            </dict>
            <key>download/close1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,457},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>download/close1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,457},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>download/floating_layerbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,240},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>download/layer_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,412}}</string>
                <key>sourceSize</key>
                <string>{612,412}</string>
            </dict>
            <key>download/layer_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{424,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,424}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>download/layer_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{424,424}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,424}}</string>
                <key>sourceSize</key>
                <string>{424,424}</string>
            </dict>
            <key>download/layer_bg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,360},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>download/loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,428},{363,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,13}}</string>
                <key>sourceSize</key>
                <string>{363,13}</string>
            </dict>
            <key>download/loading_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,443},{508,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,12}}</string>
                <key>sourceSize</key>
                <string>{508,12}</string>
            </dict>
            <key>download/loading_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,501},{119,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,6}}</string>
                <key>sourceSize</key>
                <string>{119,6}</string>
            </dict>
            <key>download/loading_bar_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,428},{518,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,22}}</string>
                <key>sourceSize</key>
                <string>{518,22}</string>
            </dict>
            <key>download/loading_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{588,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,80}}</string>
                <key>sourceSize</key>
                <string>{588,80}</string>
            </dict>
            <key>download/skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,312},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>download/tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,452},{491,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,47}}</string>
                <key>sourceSize</key>
                <string>{491,47}</string>
            </dict>
            <key>download/title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,2},{320,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,86}}</string>
                <key>sourceSize</key>
                <string>{320,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>download.png</string>
            <key>size</key>
            <string>{1922,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99b1ec269240231a044465675bf3877a$</string>
            <key>textureFileName</key>
            <string>download.png</string>
        </dict>
    </dict>
</plist>
